{% extends "baseEmploye.html.twig" %}



{% block body %}
	    <div id="page-wrapper">
      <div class="container">
        <header class="jumbotron hero-spacer">
            <h2>Bienvenue sur l'espace réservé aux employés de notre société</h2>
            <p>Depuis ce panel vous allez pouvoir gérer notre parc automobile notamment en ajoutant de nouveaux véhicules, les supprimer etc..</p>
</header>
</div>
</div>
{%  endblock %}


